/* Styles for the unordered list */
ul {
    margin: 0 auto; /* Center the list */
    text-align: center; /* Center the text within the list */
}

/* Styles for an element with the id "id" */
#id {
    margin-top: 0px; /* Remove top margin */
}

/* Styles for the home-body class */
.home-body {
    background-color: black; /* Set background color */
}

/* Styles for the home-header class */
.home-header {
    background-image: url(../images/vid-cam.jpg);
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    height: 700px;
    background-size: cover;
    background-position: bottom;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 4rem;
}

/* Styles for h1 elements within the home-header class */
.home-header h1 {
    font-size: 3rem;
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Center the text within the element */
    padding: 10px;
    padding-top: 19.95rem;
    border-radius: 5px;
    color: white; /* Set text color */
}

/* Styles for the carousel class */
.carousel {
    padding-bottom: 4rem;
}

/* Styles for h2 elements */
h1 {
    text-align: center; /* Center the text within the element */
    font-size: 60px;
}

/* Styles for h2 elements */
h2 {
    text-align: center; /* Center the text within the element */
    font-size: 60px;
}

/* Styles for list items */
li {
    font-size: 20px;
}

/* Styling for the header carousel button */
.butn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

/* Button styles on hover */
.butn:hover {
    background-color: black;
    color: white;
}

/* about page */

/* Styles for the home about us section */
.about-heading {
    color: white;
    padding-bottom: 5rem;
    font-size: 40px;
}

/* Styles for the about-us class */
.about-us {
    background-color: black; /* Set background color */
    text-align: center; /* Center the text within the element */
}

/* Styles for the about-content class */
.about-content {
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}

/* Styles for the about-text class */
.about-text {
    margin-bottom: 40px; /* Adds space at the bottom of the paragraph */
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Styles for the abt-btn class */
.abt-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Button styles on hover */
.abt-btn:hover {
    background-color: black;
    color: white;
}

/* Button styles when clicked */
.abt-btn:active {
    background-color: white;
    color: black;
}

/* Styles for the Our services home section */
.serv {
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
}

/* Styles for the service class */
.service {
    background-color: black; /* Set background color */
    padding: 20px;
    padding-top: 10rem;
}

/* Styles for the butt class */
.butt {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Button styles on hover */
.butt:hover {
    background-color: white;
    color: black;
}

/* Button styles when clicked */
.butt:active {
    background-color: white;
    color: black;
}

/* Styles for the card-title class */
.card-title {
    text-align: center; /* Center the text within the element */
    font-size: 30px;
    padding-bottom: 10px;
}

/* Styles for the header element */
header {
    background-color: black; /* Set background color */
}

/* Styles for paragraphs */
p {
    color: white; /* Set text color */
    text-align: center; /* Center the text within the element */
    font-size: 25px;
}

/* Center the carousel */
.carousel-inner {
    text-align: center;
}

/* Styles for the carousel-caption class */
.carousel-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* Styles for the skip-link class */
.skip-link {
    z-index: 1000;
    margin-left: 20px;
    animation: wiggle 0.5s infinite;
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}

/* Styles for the skip-link2 class */
.skip-link2 {
    z-index: 1000;
    animation: wiggle 0.5s infinite;
    display: inline-block;
    padding: 10px 15px;
    background-color: black; /* Set background color */
    color: white; /* Set text color */
    text-decoration: none;
    border-radius: 10px;
}

/* Wiggle animation for skip link */
@keyframes wiggle {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    75% {
        transform: translateX(-4px);
    }
}

/* Styles for the footer element */
footer {
    color: black; /* Set text color */
    background-color: white; /* Set background color */
}

/* Styles for the About Page */
.about-body {
    background-color: black; /* Set background color */
}

/* Styles for the about-header class */
.about-header {
    background-image: url(../images/cam-c.jpg);
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    height: 700px;
    background-size: cover;
    background-position: bottom;
    margin-left: 12px;
    margin-right: 12px;
}

/* Styles for the about-page-text class */
.about-page-text {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* Styles for h1 elements within the about-header class */
.about-header h1 {
    font-size: 3rem;
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Center the text within the element */
    padding: 10px;
    padding-top: 19.95rem;
    border-radius: 5px;
    color: white; /* Set text color */
}

/* Styles for the about-sec-link class */
.about-sec-link {
    background-color: black; /* Set background color */
}

/* Styles for the team-p class */
.team-p {
    color: black; /* Set text color */
    font-size: 17px;
}

/* Styles for the little-about-us class */
.little-about-us {
    background-color: white; /* Set background color */
    padding-bottom: 8rem;
}

/* Styles for the about-heading-2 class */
.about-heading-2 {
    padding-bottom: 3rem;
    font-size: 40px;
    padding-top: 8rem;
}

/* Styles for the team class */
.team {
    color: white; /* Set text color */
    font-size: 40px;
    padding-bottom: 3rem;
}

/* Styles for the team-sec class */
.team-sec {
    background-color: black; /* Set background color */
    padding: 20px;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

/* contact page */

/* Styles for the contact-header class */
.contact-header {
    background-image: url(../images/YOUNG\ K\ 1.jpg);
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    height: 700px;
    background-size: cover;
    background-position: center;
    margin-left: 12px;
    margin-right: 12px;
}

/* Styles for h1 elements within the contact-header class */
.contact-header h1 {
    font-size: 3rem;
    margin: 0 auto; /* Center the element horizontally */
    text-align: center; /* Center the text within the element */
    padding: 10px;
    padding-top: 19.95rem;
    border-radius: 5px;
    color: white; /* Set text color */
}

#get-us{
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
}

/* Styles for the map id and size change*/
#map {
    margin: 0 auto; /* Center the element horizontally */
    align-self: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 90%;
}

/* map container/ setting width and height */
#map-container {
    width: 100%;
    height: auto;
}

/* Styles for the contact-options class */
.contact-options {
    background-color: white; /* Set background color */
    padding-top: .5rem;
    padding-bottom: 2rem;
    margin-top: 10rem;
}

/* Styles for paragraphs within the contact-options class */
.contact-options p {
    color: black; /* Set text color */
}

/* Styles for the in-touch class */
.in-touch {
    color: white; /* Set text color */
    padding-top: 8rem;
    padding-bottom: 5rem;
    font-size: 40px;
}

/* Styles for the call class */
.call {
    padding-bottom: 0;
}

/* Styles for the footer */
#logos {
    font-size: 2rem; /* Adjust the size as needed */
    color: black; /* Set text color */
}

/* Styles for the copyright class */
.copyright {
    font-size: 15px;
    padding-top: 1rem;
}

/* Styles for the dont id */
#dont {
    width: 100%;
}

/* Styles for the footer id */
#footer {
    background-color: white; /* Set background color */
    color: black; /* Set text color */
}

/* Project page */
/* Styles for the coming page */
#project-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: black; /* Set background color */
    color: white; /* Set text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* Button styles on hover */
#project-btn:hover {
    background-color: white;
    color: black;
}

/* Button styles when clicked */
#project-btn:active {
    background-color: white;
    color: black;
}

.project-header{
    color: white;
    padding-top: 4rem;
}
